<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" name="viewport" content="width=device-width,intial-scale=1.0">
  <title>TIIIme Table</title>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">
  <script src="https://kit.fontawesome.com/81cd3cf770.js" crossorigin="anonymous"></script>
  <link rel="icon" href="favicon.ico">
</head>

<body>

  <!-- top portion starts here -->
  <div class="wrapper">
    <header>
      <nav>
        <div class="menu-icon">
          <i class="fa fa-bars fa-2x"></i>
        </div>
        <div class="logo">
          <img src="./images/logo.webp" alt="" class="logo-imag">
        </div>
        <div class="menu">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/course">Course Details</a></li>
            <li><a href="/tt">Time Table</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
        </div>
      </nav>
