<%- include("partials/header") %>
      <div class="centerText">
        <div>
          <h1 class="texter1">SHARUQ N A</h1>
            <h4 class="texter4"><i class="fab fa-whatsapp"></i> +91-9961634121</h4>
           <h4 class="texter4"><i class="fas fa-envelope"></i> sharuqazeez@gmail.com</h4>
            <br>
      <a href="https://sharuq007.github.io/PORTFOLIO/"> <button type="button" class="btn btn-outline-light" style="font-size:18px; padding:12px 30px;; border-width:1.5px;">About Me</button></a>
      <hr>
        <img src="./images/make.webp" alt="">
        </div>

      </div>

    </header>
  </div>


  <%- include("partials/footer") -%>
