<%- include("partials/header") %>
      <div class="centerText">
        <div>
<hr>
          <h1 class="texter1">Time Table</h1>
<img src="./images/time.jpeg" alt="" style="width:55%; height:auto;">
<hr>
        <a href="./images/time.jpeg" download><button type="button" class="btn btn-outline-light" style="font-size:18px; padding:12px 30px;; border-width:1.5px;">Download Schedule</button></a>
          <hr>
          <h1 class="texter1">Courses Resources</h1>

      <a href="https://drive.google.com/drive/folders/1dCl3TVj5waWisXqyLszHkZ0keACTvc4b?usp=sharing"><button type="button" class="btn btn-outline-light" style="font-size:18px; padding:12px 30px;; border-width:1.5px;">Study Material Drive</button></a>

        </div>
      </div>
    </header>
  </div>


  <%- include("partials/footer") -%>
