/* navbar */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  height: 100vh;
  background: url('./BG.png') no-repeat 50% 50%;
  background-size: cover;
}

.content {
  width: 94%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.logo {
  line-height: 60px;
  position: fixed;
  float: left;
  margin: 5px 20px;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 2px;
}

.logo-img {
  height: 3rem;
  width: 3rem;
}
.logo-imag {
  height: 5.5rem;
  width: 5rem;
}

nav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  z-index: 10;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: #fff;
  padding: 0;
  text-align: right;
  margin: 0;
  padding-right: 40px;
  transition: 1s;
}

nav.black ul {
  background: #264653;
}

nav ul li {
  display: inline-block;
  padding: 2px 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: none;
  color: white;
}

.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #264653;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

@media (max-width: 992px) {
  .logo {
    position: fixed;
    top: 0;
    margin-top: 16px;
  }

  nav ul {
    max-height: 0px;
    background: #264653;
  }

  nav.black ul {
    background: #264653;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 24px;
    text-align: center;
  }

  .menu-icon {
    display: block;
  }
  .texter1 {
    font-size: 1.6rem;
  }
  .texter4 {
    font-size: 0.85rem;
  }
  .ftexter {
    font-size: 2rem;
  }
  .featureC br {
    display: none;
  }
  .flip-card {
    margin: 5%;
  }
}

/* navbar */
/* text at the center of top */
.centerText {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
@media (min-width: 992px) {
  .texter1 {
    font-size: 3rem;
  }
  .texter4 {
    font-size: 1.6rem;
  }
  .ftexter {
    font-size: 3.5rem;
  }
}
/* text ends here */
/* middle portion */
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.featureC {
  padding: 4% 15%;
  background-color: #e9c46a;
}
.features-text {
  color: #2a9d8f;
}

/* middle portion ends here */

h5 {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
  margin: 0;
}

.card {
  font-size: 1em;
  overflow: hidden;
  padding: 0;
  border: none;
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}

.card-block {
  font-size: 1em;
  position: relative;
  margin: 0;
  padding: 1em;
  border: none;
  border-top: 1px solid rgba(34, 36, 38, 0.1);
  box-shadow: none;
}

.card-img-top {
  display: block;
  width: 100%;
  height: auto;
  background-color: #264653;
  color: white;
}

.card-title {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}
.card-titler {
  font-size: 1.28571429em;
  font-weight: 700;
  line-height: 1.2857em;
}
.card-text {
  clear: both;
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.68);
}

.text-bold {
  font-weight: 700;
}

.meta {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.4);
}

.meta a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
}

.meta a:hover {
  color: rgba(0, 0, 0, 0.87);
}
